@font-face {
  font-family: "K2D - Light";
  src: url(/ASSETS/FONT/K2D/K2D-Light.ttf);
}
@font-face {
  font-family: "K2D - Medium";
  src: url(/ASSETS/FONT/K2D/K2D-Medium.ttf);
}
*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-family: "K2D - Light";
  color: #FFFFFF;
}

.main-wrap {
  position: relative;
  height: 100vh;
  will-change: transform;
  background-color: #807462;
}
.main-wrap .home-header .top-header {
  height: 20vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}
.main-wrap .home-header .top-header .codedBy {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 60px;
  background-color: #A69785;
  z-index: 1;
}
.main-wrap .home-header .top-header .codedBy::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  transform: translateX(50%);
  background-color: #A69785;
  aspect-ratio: 1/1;
  z-index: -1;
}
.main-wrap .home-header .top-header .codedBy .leoSpan {
  font-size: 20px;
}
.main-wrap .home-header .top-header .codedBy .credits {
  position: absolute;
  right: 0;
  transform: translateX(50%);
  font-family: "K2D - Medium";
  font-size: 40px;
}
.main-wrap .home-header .top-header .navList {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 8% 0 0;
  width: 400px;
  height: 60px;
  font-size: 20px;
}
.main-wrap .home-header .top-header .navList nav ul {
  display: flex;
  gap: 1.7rem;
}
.main-wrap .home-header .top-header .navList nav ul li {
  list-style: none;
}
.main-wrap .home-header .top-header .navList nav ul li a {
  color: #FFFFFF;
  text-decoration: none;
}
.main-wrap .home-header .main-header {
  position: relative;
  width: auto;
  min-height: 80vh;
  overflow: hidden;
}
.main-wrap .home-header .main-header .locatedIn {
  position: absolute;
  top: 18%;
  width: 100%;
  height: 70px;
  background-color: #FFFFFF;
  color: #B5A514;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}
.main-wrap .home-header .main-header .scrollDown {
  position: absolute;
  right: 5vw;
  top: 35vh;
  display: flex;
  align-items: flex-end;
  gap: 2rem;
}
.main-wrap .home-header .main-header .scrollDown .ctnScroll {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-wrap .home-header .main-header .scrollDown .ctnScroll span:nth-child(2) {
  transform: translateX(20px);
}
.main-wrap .home-header .main-header .scrollDown .ctnIcon {
  width: 25px;
  height: 25px;
  animation: arrowBounce 2s infinite alternate;
}
.main-wrap .home-header .main-header .scrollDown .ctnIcon img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-wrap .home-header .info-header {
  position: absolute;
  z-index: 10;
  bottom: 10%;
  left: 0;
  transform: translateX(15%);
  font-size: 80px;
  width: auto;
}
.main-wrap .home-header .info-header .notnoise {
  transform: translateX(60px);
}
.main-wrap .home-header .info-header .notnoise .not {
  color: #B5A514;
}
.main-wrap .home-header .ctnNumber {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translate(10%, 30%);
  color: rgba(255, 255, 255, 0.1098039216);
  font-size: 360px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 20;
}

@keyframes arrowBounce {
  0% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(3px);
  }
}/*# sourceMappingURL=style.css.map */